<div ng-controller="loginModal">
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
         
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <label ng-show="!corretor.id"><FONT FACE="Arial" SIZE="5" COLOR="white">Imobiliária</FONT></label>
                <label ng-show="corretor.id"><FONT FACE="Arial" SIZE="5" COLOR="white">Imobiliária - Bem vindo {{ corretor.nome }}!</FONT></label>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
              <button ng-show="!corretor.id" type="button" class="btn btn-default" ng-click="open()">Espaço do Corretor</button>
              <button ng-show="corretor.id" type="button" class="btn btn-default" ng-click="logout()">Sair</button>
            </ul>
          </div>
        </div>
      </nav>
    
    <script type="text/ng-template" id="myModalContent.html">
        
        <div class="modal-header">
            <h3 class="modal-title">Espaço do Corretor</h3>
        </div>
        <div ng-show="erro" class="alert alert-danger">
		Usuário ou senha incorreto
	</div>
        <div class="modal-body">
            <ul>
                <label>Login:</label>
                <input type="text" ng-model="corretor.login" class="form-control" placeholder="Usuario">
                <label>Senha: </label>
                <input type="password" ng-model="corretor.senha" class="form-control" placeholder="Senha">    
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="login(corretor)" >Login</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
</div> 

