<div ng-controller="loginModal">
    
    <H1 ng-show="!corretor.id">Imobiliária</H1>
  
    <H1 ng-show="corretor.id">Imobiliária - Bem vindo {{ corretor.nome }}!</H1>
 
    <button ng-show="!corretor.id" type="button" class="btn btn-default" ng-click="open()">Espaço do Corretor</button>
    <button ng-show="corretor.id" type="button" class="btn btn-default" ng-click="logout()">Sair</button>
    
    <script type="text/ng-template" id="myModalContent.html">
        
        <div class="modal-header">
            <h3 class="modal-title">Espaço do Corretor</h3>
        </div>
        <div ng-show="erro" class="alert alert-danger">
		Usuário ou senha incorreto
	</div>
        <div class="modal-body">
            <ul>
                <label>Login:</label>
                <input type="text" ng-model="corretor.login" class="form-control" placeholder="Usuario">
                <label>Senha: </label>
                <input type="password" ng-model="corretor.senha" class="form-control" placeholder="Senha">    
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="login(corretor)" >Login</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
</div> 

<div ng-controller="HomeController">
        <h1>Lista de Imóveis</h1>
        <a ng-show="corretor.id" class="btn btn-primary" data-ui-sref="imovel">Cadastrar imóvel</a>
        <table class="table">
            <tr>
                <th>Código</th>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>UF</th>
                <th></th>  
                <th ng-show="corretor.id"></th>  
            </tr>
            <tr ng-repeat="imovel in imoveis">
                <td>{{imovel.id}}</td>
                <td>{{imovel.tipo}}</td>
                <td>{{imovel.descricao}}</td>
                <td>{{imovel.valor}}</td>
                <td>{{imovel.bairro}}</td>
                <td>{{imovel.cidade}}</td>
                <td>{{imovel.uf}}</td>
                <td><button ng-click="buscarImagens(imovel)">Fotos</button></td>
                <td ng-show="!corretor.id"><button  >Estou interessado</button></td>
                <td ng-show="corretor.id"><button  >Interessados</button></td>
                <td ng-show="corretor.id"><button ng-click="excluir(imovel)">Excluir</button></td>
            </tr>
        </table>

        <div style="height: 305px">
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="imagem in imagens" active="slide.active">
                <img ng-src="{{imovel.urlImagem(imagem)}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>Slide {{$index}}</h4>
                </div>
              </uib-slide>
            </uib-carousel>
        </div>
        <span ng-repeat="imagem in imagens">
            <img ng-src="{{imovel.urlImagem(imagem)}}" style="margin:auto;">
        </span>

</div>
