<div ng-controller="loginModal">
    
    <H1>Imobiliaria</H1>
    
    <button type="button" class="btn btn-default" ng-click="open()">Login</button>
    
    
    <script type="text/ng-template" id="myModalContent.html">
        
        <div class="modal-header">
            <h3 class="modal-title">Acesso restrito</h3>
        </div>
        <div class="modal-body">
            <ul>
                <label>Login:</label>
                <input type="text" ng-model="XXXXX" class="form-control">
                <label>Senha: </label>
                <input type="password" ng-model="YYYYY" class="form-control">    
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Login</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>

<h1>Imóveis</h1>

<table class="table">
    <tr>
        <th>Código</th>
        <th>Tipo</th>
        <th>Descrição</th>
        <th>Valor</th>
	<th>Bairro</th>
	<th>Cidade</th>
        <th>UF</th>       
    </tr>
    <tr ng-repeat="imovel in imoveis">
        <td>{{imovel.id}}</td>
        <td>{{imovel.tipo}}</td>
        <td>{{imovel.descricao}}</td>
        <td>{{imovel.valor}}</td>
        <td>{{imovel.bairro}}</td>
        <td>{{imovel.cidade}}</td>
        <td>{{imovel.uf}}</td>
        <td><button ng-click="buscarImagens(imovel)">Fotos</button></td>
    </tr>
</table>


<span ng-repeat="imagem in imagens">
    <img ng-src="{{imovel.urlImagem(imagem)}}" style="margin:auto;">
</span>


