<h1>Cadastrar Imóvel</h1>
Tipo: <input type="text" ng-model="imovel.tipo" /><br/>
Descrição: <input type="text" ng-model="imovel.descricao" /><br/>
Valor: <input type="text" ng-model="imovel.valor" /><br/>
Bairro: <input type="text" ng-model="imovel.bairro" /><br/>
Cidade: <input type="text" ng-model="imovel.cidade" /><br/>
UF: <input type="text" ng-model="imovel.uf" /><br/>
<button class="btn btn-primary" ng-click="gravar()">Gravar</button>
<a class="btn" data-ui-sref="home">Cancelar</a>