<div ng-controller="HomeController" class="jumbotron">
            
        <h3>Interessados pelo imóvel {{ imovel.id }}</h3>
        <table class="table">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Descrição</th> 
            </tr>
            <tr ng-repeat="info in informacoes">
                <td>{{info.id}}</td>
                <td>{{info.nome}}</td>
                <td>{{info.telefone}}</td>
                <td>{{info.email}}</td>
                <td>{{info.descricao}}</td>
            </tr>
        </table>
        <a class="btn btn-warning btn-block" ng-click="voltar()">Voltar</a>
</div>